@import url('https://fonts.googleapis.com/css2?family=Inter&family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.cart {
 position: fixed;
 z-index: 1000; 
 top: 0;
 align-self: flex-end;
 width: 100%;
 background-color: rgba(0, 0, 0, 0.5);
 /* display: none; */
 opacity: 0;
 overflow: hidden;
 transform: translateX(100%);
 transition: all .5s ease;
}

.show{
 /* display: block; */
 height: 100%;
 opacity: 1;
 overflow: auto;
 transform: translateX(0);
}

.cart-container{
 background-color: #fff;
 margin-left: auto;
 width: 40vw;
 /* height: 100%; */
 padding: 1rem;
 position: relative;
} 

.cart-header{
 display: flex;
 width: 100%;
 justify-content: space-between;
 padding: 1rem;
 border-bottom: 3px solid #000;
}

.cart-header h1{
 font-family: 'Irish Grover';
}

.closecart-btn{
 font-size: 2rem;
}




/* ----media query----- */

@media screen and (max-width: 1200px) {
 .cart-container {
  width: 50vw;
 }
}

@media screen and (max-width: 1000px) {
 .cart-header h1 {
  font-size: 1.7rem;
 }
}

@media screen and (max-width: 940px) {
 .cart-container {
  width: 60vw;
 }
}

@media screen and (max-width: 740px) {
 .cart-container {
  width: 70vw;
 }

 .cart-header h1 {
  font-size: 1.6rem;
 }
}

@media screen and (max-width: 540px) {
 .cart-container {
  width: 80vw;
 }

 .cart-header h1 {
  font-size: 1.5rem;
 }

 .closecart-btn{
  font-size: 1.5rem;
 }
}

@media screen and (max-width: 440px) {
 .cart-container {
  width: 85vw;
 }

 .cart-header h1 {
  font-size: 1.4rem;
 }
}