@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.menshero {
 width: 100%;
 margin-top: 0;
 max-height: 100vh;
} 

.menshero-container {
 display: flex;
 background-color: #BFBFBF;
 width: 100%;
 position: relative;
 height: 100vh;
}

.menshero-left {
 position: absolute;
 top: 12%;
 left: 13%;
}

.menshero-left h2 {
 font-family: 'Jacques Francois Shadow';
 font-size: 3rem;
}

.menshero-left button {
 background-color: #000;
 color: #fff;
 border-radius: 10px;
 font-size: 1.5rem;
 padding: 0.5rem;
 font-family: 'itim';
 width: 30%;
 cursor: pointer;
 margin-top: 2rem;
 display: flex;
 justify-content: center;
 align-items: center;
}

.menshero-right {
 margin-left: auto;
}

.menshero-right img {
 max-width: 100%;
 height: 100vh;
 object-fit: cover;
}



/* ----media query----- */

@media screen and (max-width: 1200px) {
 .menshero-left h2 {
  font-size: 2.5rem;
 }

 .menshero-left button {
  height: 2.5rem;
  font-size: 1.4rem;
 }
}

@media screen and (max-width: 1000px) {
 .menshero-left{
  top: 10%;
 }
}

@media screen and (max-width: 840px) {
 .menshero-left {
  left: 10%;
 }

 .menshero-left h2 {
  font-size: 2rem;
 }

 .menshero-left button {
  height: 2rem;
  font-size: 1rem;
  margin-top: 1rem;
 }
}

@media screen and (max-width: 640px) {
 .menshero-left {
  left: 20%;
  top: 60%;
  color: #fff;
 }

 .menshero-left h2 {
  font-size: 1.8rem;
 }
}

@media screen and (max-width: 500px) {
 .menshero-left {
  left: 11%;
 }

 .menshero-left h2 {
  font-size: 1.5rem;
 }
}

@media screen and (max-width: 370px) {
 .menshero-left {
  left: 7%;
 }
}

@media screen and (max-width: 320px) {
 .menshero-left h2 {
  font-size: 1.3rem;
 }
}