@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');

.hero-container{
 display: flex;
 background-color: #e8e8e6;
 width: 100%;
}

.hero-left{
 padding: 7rem 0 7rem 6.4rem;
}

.hero-left h2{
 font-family: 'Jacques Francois Shadow';
 font-size: 3rem;
}

.hero-left button{
 background-color: #000;
 color: #fff;
 border-radius: 10px;
 font-size: 1.5rem;
 padding: 0.5rem;
 font-family: 'itim';
 width: 30%;
 cursor: pointer;
}

.hero-right{
 margin-left: auto;
}

.hero-right img{
 max-width: 70ch;
}