.men{
   max-width: 80vw;
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 3rem;
}


/* ----media query----- */

@media (max-width: 1000px) {
   .men {
      max-width: 90vw;
   }
}