@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');

.mentop{
 max-width: 80vw;
 margin: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 3rem;
}

.mentop-hero{
 width: 100%;
 height: 95vh;
 background-image: url(../../Components/Assets/mens_tops/KHM031556-002-DETAIL-1_720x.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 display: flex;
  justify-content: center;
  align-items: center;
}

.mentop-hero h2{
 font-family: 'Jacques Francois Shadow';
 font-size: 3.5rem;
}





/* ----media query----- */

@media screen and (max-width: 1200px) {
 .mentop-hero h2 {
  font-size: 2.8rem;
 }
}

@media (max-width: 1000px) {
 .mentop {
  max-width: 90vw;
 }

 .mentop-hero h2 {
  font-size: 2.5rem;
 }
}

@media (max-width: 660px) {
 .mentop-hero h2 {
  font-size: 2.2rem;
 }
}

@media (max-width: 400px) {
 .mentop-hero h2 {
  font-size: 2rem;
 }
}