@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');

.womenaccessories {
 max-width: 80vw;
 margin: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 3rem;
}

.womenaccessories-hero {
 position: relative;
 width: 100%;
 height: 95vh;
 background-image: url(../../Components/Assets/womens_accessories/KHW040052-910-FRONT_720x.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 display: flex;
 justify-content: center;
}

.womenaccessories-hero h2 {
 font-family: 'Jacques Francois Shadow';
 position: absolute;
 font-size: 3.5rem;
 top: 60%;
}




/* ----media query----- */

@media screen and (max-width: 1200px) {
 .womenaccessories-hero h2 {
  font-size: 2.8rem;
 }
}

@media (max-width: 1000px) {
 .womenaccessories {
  max-width: 90vw;
 }

 .womenaccessories-hero h2 {
  font-size: 2.5rem;
 }
}

@media (max-width: 800px) {
 .womenaccessories-hero h2 {
  font-size: 2rem;
 }
}

@media (max-width: 450px) {
 .womenaccessories-hero h2 {
  font-size: 1.7rem;
 }
}

@media (max-width: 360px) {
 .womenaccessories-hero h2 {
  font-size: 1.5rem;
 }
}