@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&family=Jacques+Francois+Shadow&display=swap');

.item{
 width: 22rem;
}
.item img{
 width: 22rem;
}

.item p{
 font-family: 'Inria Serif';
  margin: 0.5rem 0;
}

