@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.womenshero {
 width: 100%;
 margin-top: 0;
}

.womenshero-container {
 display: flex;
 background: linear-gradient(42deg, rgba(247, 246, 244, 1) 0%, rgba(234, 223, 196, 1) 72%, rgba(219, 194, 138, 1) 92%, rgba(234, 223, 196, 1) 99%);
 width: 100%;
 position: relative;
}

.womenshero-left {
 position: absolute;
 top: 8rem;
 left: 8rem;
}

.womenshero-left h2 {
 font-family: 'Jacques Francois Shadow';
 font-size: 3rem;
}

.womenshero-left button {
 background-color: #000;
 color: #fff;
 border-radius: 10px;
 font-size: 1.5rem;
 padding: 0.5rem;
 font-family: 'itim';
 width: 30%;
 cursor: pointer;
 margin-top: 2rem;
}

.womenshero-right {
 margin-left: auto;
}

.womenshero-right img {
 max-width: 90ch;
 min-height: 100%;
}