@import url('https://fonts.googleapis.com/css2?family=Inter&family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.womenstop {
 width: 100%;
 overflow: hidden;
 margin-top: 3.5rem;
 display: flex;
 flex-direction: column;
}

.womenstop a {
 text-decoration: none;
 color: inherit;
}

.womenstop h1 {
 font-family: "Irish Grover";
 font-size: 1.5rem;
 cursor: pointer;
}

.womenstop button {
 background-color: #E8E8E6;
 width: 7rem;
 min-height: 2rem;
 border-radius: 10px;
 align-self: flex-end;
 font-family: "Itim";
 font-size: 1rem;
 color: #000;
}

.womenstop-items {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 margin-top: 1rem;
 width: 100%;
 gap: 1.8rem;
}



/* ----media query----- */

@media screen and (max-width: 1000px) {
 .womenstop h1 {
  font-size: 1.3rem;
 }
}

@media screen and (max-width: 740px) {
 .womenstop-items {
  grid-template-columns: 1fr 1fr;
 }
}

@media screen and (max-width: 400px) {
 .womenstop h1 {
  font-size: 1.15rem;
 }

 .womenstop button {
  max-width: 5rem;
  min-height: 1.5rem;
  font-size: 0.8rem;
 }
}