@import url('https://fonts.googleapis.com/css2?family=Inter&family=Irish+Grover&display=swap');

.navbar{
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding: 1rem;
 box-shadow: 0 1px 3px -2px #000;
 position: fixed;
 width: 100%;
 z-index: 999;
 height: 10vh;
 top: 0;
 background-color: #fff;
 margin-bottom: 0;
}

.logo-img{
 max-width: 7.7rem;
}

.nav-logo{
 min-height: 100%;
 cursor: pointer;
}

.nav-menu{
 display: flex;
 align-items: center;
 list-style: none;
 gap: 3.125rem;
 font-size: 1.25rem;
 font-family: 'Irish Grover';
}

.icon{
 width: 3.75rem;
 height: 1.875rem;
 color: #000;
}

.nav-menu hr{
 border: none;
 width: 80%;
 height: 3px;
 border-radius: 0.2rem;
 background: #000;
}

.nav-icons{
 display: flex;
 align-items: center;
}

.nav-cart-count{
 width: 1.375rem;
 height: 1.375rem;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: -1.5625rem;
 margin-left: -1.75rem;
}

