@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.womensfootwearhero {
 margin-top: 4.5rem;
 width: 100%;
}

.womensfootwearhero-container {
 display: flex;
 background: #F2F2F2;
 position: relative;
}

.womensfootwearhero img {
 max-width: 90ch;
 min-height: 100%;
}

.womensfootwearhero-right {
 position: absolute;
 top: 10rem;
 left: 35rem;
 width: 25rem;
}

.womensfootwearhero-right h2 {
 font-family: 'Jacques Francois Shadow';
 font-size: 3rem;
}

.womensfootwearhero-right button {
 background-color: #000;
 color: #fff;
 border-radius: 10px;
 font-size: 1.5rem;
 padding: 0.5rem;
 font-family: 'itim';
 width: 30%;
 cursor: pointer;
 margin-left: 2rem;
}