.sidebar{
 position: fixed;
 z-index: 1000;
 top: 0;
 left: 0;
 background: transparent;
 width: 100%;
 transform: translateX(-100%);
 transition: .5s;
} 

.show-sidebar{
 transform: translateX(0);
 height: 100%;
}

.sidebar-container{
 width: 80%;
 /* margin: 0 1rem; */
 padding-right: 1rem;
 padding-left: 1rem;
 background: #fff;
 height: 100%;
}

.sidebar-logo img{
 max-width: 6.5rem;
}

.sidebar-header{
 display: flex;
 justify-content: space-between;
 margin-right: 30%;
 padding: 1rem 0;
}