@import url('https://fonts.googleapis.com/css2?family=Inter&family=Irish+Grover&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.footer{
 display: flex;
 background-color: #221C1C;
 color: #fff;
 padding: 5rem;
 max-width: 80vw;
 font-family: "Itim";
 margin: auto;
 margin-top: 4rem;
 justify-content: space-between;
}
 
.footer-heading{
 font-family: "Irish Grover";
 font-size: 1.6rem;
}

.footer-shop{
 /* background-color: aqua; */
 width: 100%;
}

.shop-content{
 list-style: none;
 font-size: 1.3rem;
 margin-top: 1rem;
}

.follow-us{
 /* background-color: bisque; */
 width: 100%;
}

.about-us{
 /* background-color: blue; */
 width: 100%;
 list-style: none;
 margin-left: 6rem;
}

.about-content{
 list-style: none;
 font-size: 1.3rem;
 margin-top: 1rem;
}

.socials{
 margin-top: 1.5rem;
}

.footer-icon{
 width: 3.75rem;
 height: 1.875rem;
 color: #fff;
}

/* ----media query----- */

@media (max-width: 1250px) {
 .socials{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
 }
}

@media (max-width: 1000px) {
 .footer {
  max-width: 90vw;
  padding: 4rem;
 }
}

@media (max-width: 860px) {
 .footer{
  padding: 3rem;
 }
 .footer-heading{
  font-size: 1.4rem;
 }
 
 .shop-content{
  font-size: 1.1rem;
 }

 .footer-icon{
 width: 3.45rem;
 height: 1.475rem;
 }

 .about-content{
  font-size: 1.1rem;
 }
}

@media (max-width: 740px) {
 .footer{
  display: grid;
  grid-template-columns: 11rem 11rem;
  gap: 0;
  padding: 2rem;
  justify-content: space-between;
 }

 .follow-us{
  grid-row-start: 2;
  grid-column-end: 2;
  align-self: center;
  margin-left: 40%;
  margin-top: 1rem;
 }

 .socials{
  display: flex;
 }

 .about-us{
  margin-left: 0;
  flex-basis: 50%;
 }
}

@media (max-width: 560px) {
 .footer{
  padding: 1.5rem;
 }
 .footer-heading{
  font-size: 1.2rem;
 }
 
 .shop-content{
  font-size: 1rem;
 }

 .footer-icon{
 width: 3.45rem;
 height: 1.475rem;
 }

 .about-content{
  font-size: 1rem;
 }
}

@media (max-width: 390px) {
 .footer{
  grid-template-columns: 8.2rem 8.2rem;
 }
}

@media (max-width: 330px) {
 .footer-heading{
  font-size: 1rem;
 }
 
 .shop-content{
  font-size: 0.8rem;
 }

 .footer-icon{
 width: 3.45rem;
 height: 1.475rem;
 }

 .about-content{
  font-size: 0.8rem;
 }
}

@media (max-width: 300px) {
 .footer {
  grid-template-columns: 7rem 7rem;
 }
}