@import url('https://fonts.googleapis.com/css2?family=Inter&family=Irish+Grover&display=swap');

.nowinsale-items { 
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 margin-top: 1rem;
 width: 100%;
 gap: 1.8rem;
}

.nowinsale {
 width: 100%;
 overflow: hidden;
 margin-top: 3.5rem;
 display: flex;
 flex-direction: column;
}

.nowinsale h1 {
 font-family: "Irish Grover";
 font-size: 1.5rem;
 cursor: pointer;
}



/* ----media query----- */

@media screen and (max-width: 1000px) {
 .nowinsale h1 {
  font-size: 1.3rem;
 }
}

@media screen and (max-width: 740px) {
 .nowinsale-items {
  grid-template-columns: 1fr 1fr;
 }
}

@media screen and (max-width: 400px) {
 .nowinsale h1 {
  font-size: 1.15rem;
 }
}
