@import url('https://fonts.googleapis.com/css2?family=Inter&family=Irish+Grover&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.womensaccessories-items {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 margin-top: 1rem;
 width: 100%;
 gap: 1.8rem;
}

.womensaccessories {
 width: 100%;
 overflow: hidden;
 margin-top: 3.5rem;
 display: flex;
 flex-direction: column;
}

.womensaccessories h1 {
 font-family: "Irish Grover";
 font-size: 1.5rem;
 cursor: pointer;
}

.womensaccessories button {
 background-color: #E8E8E6;
 width: 7rem;
 min-height: 2rem;
 border-radius: 10px;
 align-self: flex-end;
 font-family: "Itim";
 font-size: 1rem;
 color: #000;
}