@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.explorewomenbutton {
 align-self: center;
 margin-top: 3.5rem;
 width: 30%;
}

.explorewomenbutton button {
 background-color: #A96161;
 color: #fff;
 border-radius: 10px;
 font-size: 1.5rem;
 padding: 0.5rem;
 font-family: 'itim';
 width: 100%;
 height: 5rem;
 cursor: pointer;
}




/* ----media query----- */

@media screen and (max-width: 890px) {
 .explorewomenbutton {
  width: 40%;
 }
}

@media screen and (max-width: 670px) {
 .explorewomenbutton button {
  font-size: 1.3rem;
 }
}

@media screen and (max-width: 590px) {
 .explorewomenbutton {
  width: 50%;
 }
}

@media screen and (max-width: 480px) {
 .explorewomenbutton {
  width: 60%;
 }

 .explorewomenbutton button {
  height: 4rem;
 }
}

@media screen and (max-width: 390px) {
 .explorewomenbutton {
  width: 70%;
 }

 .explorewomenbutton button {
  font-size: 1.2rem;
 }
}

@media screen and (max-width: 300px) {
 .explorewomenbutton {
  width: 75%;
 }
}