@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.mensfootwearhero {
 margin-top: 4.5rem;
 width: 100%;
}

.mensfootwearhero-container {
 display: flex;
 background: linear-gradient(90deg, rgba(215, 215, 215, 1) 0%, rgba(215, 215, 215, 1) 76%, rgba(163, 163, 161, 1) 100%);
 position: relative;
}

.mensfootwearhero img {
 max-width: 90ch;
 min-height: 100%;
}

.mensfootwearhero-right {
 position: absolute;
 top: 30rem;
 left: 35rem;
 width: 25rem;
}

.mensfootwearhero-right h2 {
 font-family: 'Jacques Francois Shadow';
 font-size: 3rem;
}

.mensfootwearhero-right button {
 background-color: #000;
 color: #fff;
 border-radius: 10px;
 font-size: 1.5rem;
 padding: 0.5rem;
 font-family: 'itim';
 width: 30%;
 cursor: pointer;
 margin-left: 2rem;
}